@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
.contactForm { 
  border: 3px solid rgb(185, 119, 97);
  padding-left: 35%;
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom: 20px;
  width: 100%;
  background: rgb(185, 185, 185);
  height:100%;
  overflow-y: auto;
}
input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  float:relative;  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 120px; resize: none; }
.formBtn { 
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}