body,html{
    overflow: hidden;
    height:100%;
    width:100%;
}
.container-dash-fluid{
    height: 100%;
    max-width:100%;
    padding: 50px;
    margin:0px;
    background-color: #619eb6;
    overflow: hidden;
}
.navigator{
    float:left;
    min-width:250px;
    height:100%;
    background-color: #619eb6;
    border-right: 2px rgb(187, 150, 29) solid;
    padding:20px;
    position: relative;
}

.container-start{
   height:100%;
    width:100%;
     margin:0px;  
    overflow: hidden;
}
.navigator a{
 overflow: hidden;   
 color:black;
 text-align: center; 
 font-family: Arial;
 font-size: 30px;
}
.rightside{
    background-color: #e5e7eb;
    overflow-y:auto;
    display: flex;
    flex-flow: row wrap;
    padding-top:50px;
    padding-right:5px;
    padding-left:5px;
    height: 100%;
}
.rightside-add{
    background-color: #e5e7eb;
    overflow-y:auto;
    display: flex;
    flex-flow: row wrap;
    padding-top:50px;
    padding-right:5px;
    padding-left:5px;
    height: 100%;
    overflow: hidden;
}
.card{
    border-radius: 5px;
    border: 3px solid #78b5cc;
    max-height: 500;
    margin: 30px;
    width:300px;
    float: left;
    background-color:#b7cad1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
}
.cardImage{
    content: url(http://placehold.it/250x250);
    max-width: 100%;
    padding:20px;
    height: auto;
    position: center;
}
.cardImagePlus{
    background-color:rgb(127, 211, 94);
    text-align: center;
    font-size:80px;
    padding-top:100px;
    width:100%;
    min-height:326px;
    height: 100%;    
}
.cardname{
    text-align: center; 
    font-family: Verdana;
    padding: 5px;
}

/*Classes of SecondPage are down */
.rightsideSecond{
    background-color: #e5e7eb;
    overflow-y:auto;
    padding-top:0px;
    padding-right:5px;
    padding-left:0px;
    height: 100%;
    overflow-y: hidden;  
    display: -webkit-flex;
    display: flex;  
    flex-flow: row wrap;
}
.cardSecond{
    border-right: 3px solid #619eb6;
    /* max-width:250; */
    /* float: left; */
    /* height: 100%; */
    background-color: #c7c3c3;
    /* position: relative; */
    -webkit-flex: initial;
    flex: initial;
    width: 280px;
    min-width: 100px;
}
.cardDescription{
    text-align: center; 
    padding: 5px;
}
.cardnameSecond{
    text-align: center; 
    font-family: Verdana;
    padding: 5px;
}
.buttonAdd{
    font-size: 60px; 
    border: none;
    padding:2px;
    background-color:rgb(127, 211, 94);
    color: rgb(196, 209, 216);
    width:100%;
    height:85px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
.cardnameSecond {
    background: rgb(185, 185, 185);
    color:white;
  }
.personReports{
    background: rgb(185, 119, 97);
    width:100%;
    height: 100%;
}
.cardReports{
    padding-top:20px;
    width:100%; 
     /* height:100%; */
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    overflow-y: auto;
}
.field{
    background-color: rgb(221, 221, 221);
    height:100%;
    width: 100%;  
    -webkit-flex: 1;
    flex: 1;
    overflow:hidden;
}
.view{
    width: 100%;
    height: 100%;
    float:left;
    -webkit-flex: 1;
    flex: 1;
}
.form-newReport{
    height: 100%;
    overflow-y: auto;
    display: flex;        
    flex-direction: column; 
    /* justify-content: center;  */
    align-items: center;     
}
#date{
    flex-direction: row; 
    width:150px;
    text-align: center
}
.addLocation{
    width:300px;    
    padding: 15px;
    background-color: rgb(127, 211, 94);
    color:white;
    font-size:24px;
}
.submit{
    width:100%;
    min-height:80px;
    padding: 15px;
    background-color: rgb(127, 211, 94);
    color:white;
    font-size:24px;
    text-align: center;
}
#mapElement{
    min-height: 350px;
    width: 640px;
}
#mapsearch{
    width:300px;
    text-align: center;    
}
.rowDate{
    flex-direction: column; 
}
.buttom-costs{
 widows: 91px;
 padding:10px;
}
#date1, #date2{
    text-align: center;
    margin:5px;
}